
body {
  font-family: Verdana, sans-serif;
 background-color:tan;
}
.menu-layout {
  Margin: 0px auto;
  width: 100%;
  max-width:930px;
    display:flex;
  justify-content:space-between;
  text-decoration:none;
}
.menu-item {
  flex: 1;
  text-align:center;
  color:black;
  background-color:brown;
  box-sizing: border-box;
  line-height:1.65;
  padding: 1em 0em;
  margin: 1em;
  flex-basis:30%;
  text-decoration: none;
  color:white;
  transition:transform 1s;
  border-radius:25px;
}
.menu-item:hover {
  background-color:grey;
  transform:scaleX(1.15);
    
}
h2,h3{
 margin:0 0 .7em 0;
}
  
.column-layout {
  background-color: white;
  max-width: 800px;
  margin: 40px auto 0 auto;
  padding: 20px 40px;
  line-height: 1.65;
  display: flex;
}

.main-column {
  flex: 3;
  order: 2;
  
}

.sidebar-one {
  order: 1;
  flex: 1;
}

.sidebar-two {
  order: 3;
  flex: 1;
  }
.special-offer {
  background-color:brown;
  margin: auto;
  padding:100px;
  border-radius:20px;
}
.spec-offer-box {
  Margin: 0px auto;
  width: 100%;
  max-width:930px;
    display:flex;
  justify-content:space-between;
  text-decoration:none;
}
img {
  height:250px;
  width:250px;
}





