
body {
  background-color: lightgrey;
  font-family: Verdana, sans-serif;
 
}
.menu-layout {
  Margin: 0px auto;
  width: 100%;
  max-width:930px;
    display:flex;
  justify-content:space-between;
}
.menu-item {
  flex: 1;
  text-align:center;
  color:black;
  background-color:brown;
  box-sizing: border-box;
  line-height:1.65;
  padding: 1em 0em;
  margin: 1em;
}
h2,h3{
 margin:0 0 .7em 0;
}
  
.column-layout {
  background-color: white;
  max-width: 800px;
  margin: 40px auto 0 auto;
  padding: 20px 40px;
  line-height: 1.65;
  display: flex;
}

.main-column {
  flex: 3;
  order: 2;
  
}

.sidebar-one {
  order: 1;
  flex: 1;
}

.sidebar-two {
  order: 3;
  flex: 1;
}

.call-outs-container {
  max-width: 800px;
  margin: 40px auto 0 auto;
  display: flex;
  justify-content: space-between;
}

.call-out {
  padding: 20px;
  width: 30%;
  margin-bottom: 20px;
  justify-content:
}

.call-out:nth-child(1) {
  background-color: blue;
}
.call-out:nth-child(2) {
  background-color: red;
}
.call-out:nth-child(3) {
background-color: green;
}


